.indices {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
  }

  .indicesTXT {
    padding: 0px;
    text-align: justify;
    margin-top: 20px;
  }
  h3 {
    text-align: center;
    margin-top: 40px;
    /*border-bottom: 10px solid gray;*/
  }
  .logosei { 
    
    height: 62px;
    }
  
  
  #descripcionindicador {
    background-color: aliceblue;
    padding: 8%;
    border-radius: 50px 50px 50px 50px;
    text-align: justify;
    
  }
  .btn-outline-light {
      color:#7e727b;
      
  }
  .btn-outline-light:hover {
     background-color:#f3f0f9;
  }

  #indicesgenerales {
    border-radius: 50px 50px 50px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    height: 100px;
  }
  .tituloh1 {
    text-align: center;
    padding: 20px;
    background-color:rgba(6, 162, 173, 0.548); height:80px; color: white;
    font-size:1.8em;
    
  }
  .documentos {
  background-color:aliceblue;
  display: flex;
  justify-content: center; 
  border: 2px solid white;
  align-items: center;
  
  }
  #icon {
    height:50px;
  }

  .contenedorindices{
    background-color:aliceblue;border-radius: 20px 20px 20px 20px; 
  }
  .municipios{
   margin-top:80px;
   border-radius: 50px 50px 20px 20px;
   background-color:#f3f0f9;
   padding: 0px;
  }

  #municipios{
    background-color:#8a0a4e;
    border-radius: 50px 50px 0px 0px;
  }
  a {
    color: rgb(53, 48, 49); font-family: arial; text-decoration: none;
  }

#icon2 {
  height:40px;
}