/*
 * seacoahuila.css
 *
 * SB Modern business
 */

/* Global */
body       { font-family:'Roboto','Helvetica Neue',Arial,sans-serif; font-weight:300; }
h1,
h2,
h3,
h4,
h5,
h6         { font-family:'Roboto','Helvetica Neue',Arial,sans-serif; font-weight:700; }
a          { color:#224422; font-weight:500; }
a:hover,
a:focus    { color:#882222; text-decoration:underline; }
a:active,
a:visited  { color:#224422; }
strong     { font-family:'Roboto','Helvetica Neue',Arial,sans-serif; font-weight:500; }
blockquote { font-family:'Roboto','Helvetica Neue',Arial,sans-serif; font-weight:300; font-size:1.5em; }

/* Navigation */
.navbar-dark .navbar-brand         { font-weight:700; }
.navbar-dark .navbar-nav .nav-link { color: rgba(255,255,255,0.8); }

/* Header */
.header-content { text-align:center; min-height:120px; }
.header-text    { margin:auto; vertical-align:middle; padding:44px; }

/* Index */
.index-content  { margin:4px 0; }

/* Article */
.article-date { color:#888; font-size:0.8em; }

/* Pagination */
a.page-link          { color:#000000; }
a.page-link:hover,
a.page-link:focus    { color:#444444; }
a.page-link:active,
a.page-link:visited  { color:#000000; }

/* Footer */
.footer-fa            { font-size:3em; }
.footer-text          { color:#AAAAAA; }
a.footer-link         { color:#DDDDDD; }
a.footer-link:hover,
a.footer-link:focus   { color:#FFFFFF; }
a.footer-link:active,
a.footer-link:visited { color:#DDDDDD; }

/* Colors */
.sea-gold                 { color:#BCA571; }
.sea-bg-gold-dark         { background-color:#6B4C1D; }
.sea-green                { color:#59AD52; }
.sea-bg-green-dark        { background-color:#3B6038; }
.sea-gray                 { color:#E6D9C2; }
.sea-bg-gray-dark         { background-color:#695E45; }
a.sea-footer-link         { color:#F2E5CC; }
a.sea-footer-link:hover,
a.sea-footer-link:focus   { color:#FFFFFF; }
a.sea-footer-link:active,
a.sea-footer-link:visited { color:#F2E5CC; }
.cpc-header-bg            { background-color:#DFE1E6; }
.saec-header-bg           { background-color:#E6DFCF; }
.sesaec-header-bg         { background-color:#E0E6DF; }
.generic-header-bg        { background-color:#E8E8E8; }
