/*
 * seacoahuila.css
 *
 * SB Modern business
 */

/* Global */
body       { font-family:'Roboto','Helvetica Neue',Arial,sans-serif; font-weight:300; }
h1,
h2,
h3,
h4,
h5,
h6         { font-family:'Roboto','Helvetica Neue',Arial,sans-serif; font-weight:700; }
a          { color:#000000; }
a:hover,
a:focus    { color:#444444; }
a:active,
a:visited  { color:#000000; }
strong     { font-family:'Roboto','Helvetica Neue',Arial,sans-serif; font-weight:700; }
blockquote { font-size:1.5em; font-style:italic; }

/* Navegacion */
.navbar-dark .navbar-brand { font-weight:700; }
.navbar-dark .navbar-nav .nav-link { color: rgba(255,255,255,0.8); }

/* Paginacion */
a.page-link          { color:#000000; }
a.page-link:hover,
a.page-link:focus    { color:#444444; }
a.page-link:active,
a.page-link:visited  { color:#000000; }

/* Articulo */
.article-date { color:#888; font-size:0.8em; }

/* Pie */
.footer-fa            { font-size:48px; }
.footer-text          { color:#AAAAAA }
a.footer-link         { color:#DDDDDD }
a.footer-link:hover,
a.footer-link:focus   { color:#FFFFFF }
a.footer-link:active,
a.footer-link:visited { color:#DDDDDD }
