*{
    margin:0px;
    padding:0px;
}

div#general{
  margin:auto;
  margin-top:20px;
  width:100%;
  height:100%;
  background-color:rgb(3, 3, 3);
}

div#menu{
  float:left;
  width:20%;
  height:100%;
  background-color:grey;
}

div#contenido{
  float:right;
  width:100%;
  height:100%;
  background-color:green;
}